google-genai
python-dotenv
rich
prompt_toolkit
ollama
pyautogui
Pillow
requests
pytesseract
pandas
transformers
torch
openai-whisper
sounddevice
scipy
pyttsx3
PyGetWindow
PyWinCtl
psutil
pyperclip
pycaw
